@use '../colors' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $beta500;
  border-bottom: none;
  padding-left: 2rem;

  .taskName {
    display: flex;
    align-items: center;
    flex-grow: 1;

    img {
      opacity: 0;
      margin-left: 1rem;
      height: 1.5rem;
      padding: 0.2rem;
      border-radius: 50%;
      cursor: pointer;
      transition: opacity 0.15s ease, background-color 0.15s ease;
    }

    img:hover {
      background-color: $beta600;
      opacity: 100%;
    }
  }

  .taskTime {
    display: flex;
    justify-content: space-between;

    > * {
        margin: 0 1rem;
        flex-basis: 33%;
    }
  }
}

.container:first-child {
  border-radius: 12px 12px 0 0;
  border: none;
}

.container:last-child {
  border-radius: 0 0 12px 12px;
}

.container:hover {
  img {
    opacity: 100%;
  }
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 6rem;
  border: 1px solid $beta200;
  border-radius: 10px;
  font-size: 1.2rem;
}