@use '../colors' as *;

.container {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    background: white;
}

.logo {
    cursor: pointer;

    img {
        height: 3rem;
        cursor: pointer;
    }
}

.buttons {
  display: flex;
  align-items: center;

  > * {
    margin: 0rem 1rem;
  }

  > div {
    display: flex;
    align-items: center;
  }

  input {
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    font: inherit;
    font-weight: 800;
    border: 1px solid $beta400;
    border-radius: 8px;
    height: 2.5rem;
    width: 14rem;
  }

  input:focus {
    outline: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }

  > img {
    cursor: pointer;
  }
}

.dropdown {
  margin: 0 0 0 1rem;

  img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 4.5rem;
  background-color: white;
  min-width: 10rem;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  > * {
    padding: 1rem 1rem;
  }

  > p {
    padding: 0.3rem 1rem;
    font-weight: bold;
  }

  > a {
    color: black;
    text-decoration: none;
    display: block;
    border-top: 1px solid $beta600;
  }

  > a:hover {
    background-color: $beta600;
  }

}

.dropdown:hover {
  .dropdownContent {
    display: block;
  }

  > img {
    background-color: $beta600;
  }
}

