
$beta100: #333333;
$beta200: #4F4F4F;
$beta300: #828282;
$beta400: #8D8D8D;
$beta500: #E0E0E0;
$beta600: #F2F2F2;
$beta700: #FAFAFA;

$blue100: #072448;
$blue200: #0E468B;
$blue300: #1469D1;
$blue400: #4590ED;
$blue500: #8BBAF4;
$blue600: #D1E3FA;
$blue700: #E8F1FD;

$aqua100: #103D3D;
$aqua200: #207979;
$aqua300: #2FB6B6;
$aqua400: #5ED5D5;
$aqua500: #9AE5E5;
$aqua600: #D7FAFA;
$aqua700: #EBFAFA;

$yellow100: #4D3D00;
$yellow200: #997A00;
$yellow300: #E5B700;
$yellow400: #FFD533;
$yellow500: #FFE580;
$yellow600: #FFF5CC;
$yellow700: #FFFAE5;

$orange100: #4A2A03;
$orange200: #935306;
$orange300: #DD7D09;
$orange400: #F7A23B;
$orange500: #FAC584;
$orange600: #FDE8CE;
$orange700: #FEF3E6;

$red100: #4D0700;
$red200: #990F00;
$red300: #E51600;
$red400: #FF4733;
$red500: #FF8C80;
$red600: #FFD1CC;
$red700: #FFE8E5;

$green100: #06471D;
$green200: #0B8E3A;
$green300: #11D457;
$green400: #42F080;
$green500: #89F6B0;
$green600: #D0FBDF;
$green700: #E7FDEF;