@import './colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-image: url('../public/background.svg');
  background-position: bottom -30rem right 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 81rem;
  padding: 0 1rem;
}

.aboutSection {
  margin: 2rem 0;
  h1 {
    font-size: 5rem;
    color: $red500;
    margin-bottom: 0;
  }
  
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: $beta200;
    padding: 0 1rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 60rem;
    padding: 0 1rem;
  }
  
  
}

.grid{
  max-width: 80%;
  
}

.aboutSection{
  padding: 2rem;
  border-radius: 12px;
  background-color: rgba($color: #ffffff, $alpha: .5);
  box-shadow: 0 0 8px $beta400;
  margin: 4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
  height: 10rem;
  }
  > * {
    flex-basis: 50%;
  }
}