@import './colors';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/background.svg');
  background-position: bottom -30rem right 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 81rem;
  padding: 0 1rem;
}