html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-width: none;
  background-image: url('../public/background.svg') !important;
  background-position: 0 30vh !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}