@use 'colors' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/background.svg');
  background-attachment: fixed;
  background-position: bottom -50rem right 0;
  background-size: cover;
  background-repeat: no-repeat;
}
    
.header {
  width: 100%;
  position: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 7rem 6rem 2rem 6rem;

  > * {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $beta600;
  }

  > div:last-child {
    border: none;

    > * {
      float: right;
    }
  }
}

.title {
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;

  > label {
    font-weight: bold;
    font-size: 1.2rem;
  }

  > p {
    align-self: flex-end;
  }

  .projectName {
    font: inherit;
    border: none;
    border-bottom: 3px solid $beta400;
    font-size: 2rem;
    padding: 1rem 0.3rem 0.3rem 0.3rem;
    transition: border-color 0.15s ease;
  }

  .projectName:focus {
    outline: none;
    border-bottom: 3px solid $aqua300;
  }

  .projectDescription {
    font: inherit;
    margin: 1rem 0;
    padding: 0.3rem;
  }
}

.taskInput {
  display: flex;
  align-items: center;
  height: min-content;
  padding: 0.5rem;
  background: white;
  border-radius: 12px;

  > input {
    font: inherit;
    margin-right: 2rem;
    padding: 0.3rem;
    flex-grow: 1;
  }
}

.taskCard {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0.1rem 1rem;
  border-radius: 12px;
  box-shadow: 0 0 8px $beta400;
  background: white;

  > p {
    flex-grow: 1;
  }

  > img {
    height: 2rem;
    opacity: 60%;
    cursor: pointer;
  }
}