@use 'colors' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/background.svg');
  background-attachment: fixed;
  background-position: bottom -30rem right 0;
  background-size: cover;
  background-repeat: no-repeat;
}
  
.header {
  width: 100%;
  position: fixed;
}
  
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7rem 6rem 2rem 6rem;

  .title {
    width: max-content;
    padding: 0.8rem;
    border-radius: 10px;
    background: $aqua600;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4rem;

    > * {
      margin: 4rem 4rem 4rem 0;
    }
  }
}

.newProject {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 20rem;
  min-width: 20rem;
  border-radius: 12px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, $orange500, $red500);;
  max-height: 28rem;
  padding: 3rem 0;
  cursor: pointer;

  h1 {
    color: white;
  }

  img {
    height: 8rem;
    filter: invert(100%);
  }
}

.newProject:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
}