@use 'colors' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/background.svg');
  background-attachment: fixed;
  background-position: bottom -60vh right 0;
  background-size: cover;
  background-repeat: no-repeat;
}
  
.header {
  width: 100%;
  position: fixed;
}
  
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 81rem;
  padding: 7rem 6rem 2rem 6rem;

  .title {
    width: max-content;
    padding: 0.8rem;
    border-radius: 10px;
    background: $aqua600;
  }
}

.taskContainer {

  > * {
    margin: 1rem 1rem;
  }

  .taskList {
    box-shadow: 0 0px 6px $beta400;
    border-radius: 12px;
    background-color: white;

    > div {
      border-top: 2px solid $beta500;
      border-bottom: none;
      display: flex;
      align-items: center;

      > img {
        margin-right: 1rem;
        height: 2rem;
        border-radius: 50%;
        transition: filter 0.2s ease;
      }

      > img:hover {
        filter: invert(23%) sepia(97%) saturate(5754%) hue-rotate(7deg) brightness(90%) contrast(110%);
      }
    }

    > div:first-child {
      border-radius: 12px 12px 0 0;
      border: none;
    }
    
    > div:last-child {
      border-radius: 0 0 12px 12px;
    }
  }

  .taskActions {
    display: flex;
    justify-content: space-between;
  }
}