@use 'colors' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/background.svg');
  background-attachment: fixed;
  background-position: bottom -30rem right 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
    
.header {
  width: 100%;
  position: fixed;
}


.main {
  align-items: center;
  width: 70rem;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  padding: 6rem 5rem 2rem 6rem;
  h1{
  color: $beta200;
  }
}

.accountsettings{
  border-radius: 8px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba($color: $beta600, $alpha: .2);
  padding: 2rem;
  width: 100%;
}

.form{
  width: 100%;
  p{
  font-size: 0.75rem;
}


input,textarea{
  border: 1px solid $beta500;
  border-radius: 4px;
  padding: .3rem;
  }
}
.formGroup{
  flex-direction: column;
  display: flex;
  margin-right: 5px;
  max-width: 100%;
  padding-bottom: 3rem;
  
}

.accounts{
  input {
    max-width: 20rem;
  }
}

.bio{
  textarea {
    max-width: 30rem;
  }
}

.url{
  input {
    max-width: 15rem;
  }
}

.twitter{
  input {
    max-width: 15rem;
  }
}

.company{
  input {
    max-width: 10rem;
  }
}

